/* 
  Styles for TracNav, the Navigation Bar for Trac

  * Copyright 2005-2006, Bernhard Haumacher (haui at haumacher.de)
  * Copyright 2005-2021, Thomas Moschny (thomas.moschny at gmx.de)

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
  MA 02110-1301, USA.

  Please visit https://svn.ipd.kit.edu/trac/javaparty/wiki/TracNav.
*/

.wiki-toc.trac-nav h2 {
 margin-left: 2px;
 margin-right: 4ex;
 margin-top: 0;
 margin-bottom: 5px;
 padding-top: 0;
}
@media screen {
 .wiki-toc.trac-nav h2 {
  display: none;
 }
}
@media print {
 .wiki-toc.trac-nav {
  display: none;
 }
}
.wiki-toc.trac-nav h4 {
 margin: 0;
 padding: 0;
}
.wiki-toc.trac-nav ul > li:first-child {
 margin-right: 4ex;
}
.wiki-toc.trac-nav .edit {
 float: right; 
 position: absolute; 
 right: 10px; 
}
/* next rule not seen by IE <= IE6 */
.wiki-toc.trac-nav [class~=edit] {
 float: none;
 position: static;
 text-align: right;
 height: 0; /* simulate float:right; */
 top: -3px; /* shift slightly up */
 right: 0;
}
.wiki-toc.trac-nav .edit a {
 color: blue;
 border-color: blue;
}
